body{
   color: blue;
   background: aquamarine;




}
header{
   border-bottom: solid 2px royalblue;
   padding: 20px;
   font-size: 32px;
   color: royalblue;
}

section { 
     background: pink;
     padding-right: 80px;
     padding-top : 80px;
     display: flex;
     justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}
